@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F1744;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}